html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3em;
    background-color: rgb(1, 58, 113);
    overflow: hidden;
}

header * {
    color: white;
    line-height: 2em;
    margin-right: 0.5em;
}

main {
    position: relative;
    width: calc(100vw - 6em);
    height: calc(90vh - 6em);
    display: grid;
    margin: 3em;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 0px;
}

main#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main#userform {
    --size: 400px;
    position: relative;
    margin: 2em auto;
    height: var(--size);
    width: var(--size);
    background: linear-gradient(135deg, rgb(237, 22, 20) 0% 47%, rgb(34, 34, 36) 47% 53%, rgb(240, 240, 240) 53% 100%);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

main#userform::before {
    --dotsize: calc(var(--size) / 4.5);
    position: absolute;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    border: 5px solid rgb(34, 34, 36);
    box-sizing: border-box;
    content: '';
    width: var(--dotsize);
    height: var(--dotsize);
    left: 50%;
    top: 50%;
    margin-left: calc(var(--dotsize) * -1 /2);
    margin-top: calc(var(--dotsize) * -1 /2);
}

main#userform * {
    text-decoration: none;
    z-index: 2;
}

main#userform input {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgb(34, 34, 36);
    margin-bottom: 0.5em;
}

main>section:not(#rooms, #newroom) {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 60vh;
}

main>section:not(#pokemon, #rooms, #newroom) {
    --background: rgb(202, 202, 202);
    --border: rgb(51, 51, 51);
    border-radius: 5px;
    background-color: var(--background);
    border: 5px solid var(--border);
    padding: 0 1em;
    overflow-y: scroll;
}

#rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: auto;
}

#rooms a {
    --size: 150px;
    position: relative;
    height: var(--size);
    min-height: var(--size);
    width: var(--size);
    min-width: var(--size);
    border-radius: 50%;
    background: linear-gradient(rgb(237, 22, 20) 0% 47%, rgb(34, 34, 36) 47% 53%, rgb(240, 240, 240) 53% 100%);
    border: 3px solid rgb(36, 36, 36);
    color: white;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    font-weight: bold;
}

#rooms a::before {
    --dotsize: calc(var(--size) / 4.5);
    position: absolute;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    border: 5px solid rgb(34, 34, 36);
    box-sizing: border-box;
    content: '';
    width: var(--dotsize);
    height: var(--dotsize);
    left: 50%;
    top: 50%;
    margin-left: calc(var(--dotsize) * -1 /2);
    margin-top: calc(var(--dotsize) * -1 /2);
}

#newroom {
    margin-top: 2em;
    background: linear-gradient(-45deg, rgb(237, 22, 20) 0% 65%, rgb(34, 34, 36) 65% 85%, rgb(240, 240, 240) 85% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 2em;
    border-radius: 1em;
    font-size: 2em;
}

#newroom a {
    color: white;
    text-decoration: none;
}

#leaderboard {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}

#pokemon {
    background-color: rgb(51, 51, 51);
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
    height: auto;
}

#pokemon div {
    position: relative;
    margin: 0 auto;
    height: 100%;
}

#pokemon #imgP {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.animate {
    animation: pokemon 20s;
}

#winText {
    position: absolute;
    color: white;
    text-align: center;
    padding-top: 20%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 3em;
    background-color: rgba(54, 54, 54, 0.5);
    z-index: 10;
}

#pokemon #back {
    border-radius: 5px;
    border: 5px solid rgb(51, 51, 51);
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--border);
}

#chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: 1 / 3 / 2 / 4;
}

#chat h2,
#leaderboard h2 {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    background-color: var(--background);
}

#output .win {
    padding: 1em;
    color: white;
    background: linear-gradient(45deg, rgb(33, 150, 243) 0% 65%, rgb(83, 83, 83) 65% 85%, rgb(240, 240, 240) 85% 100%);
    border-radius: 5px;
    margin: 0.5em 0;
}

#form {
    align-self: flex-end;
    position: sticky;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: 100%;
    padding: 5px 0;
    background-color: var(--background);
}

#message {
    width: inherit;
}

#userList>div {
    padding: 1em;
    color: white;
    background: linear-gradient(45deg, rgb(33, 150, 243) 0% 65%, rgb(83, 83, 83) 65% 85%, rgb(240, 240, 240) 85% 100%);
    border-radius: 5px;
    margin-bottom: 1em;
}

#userList>div.thisUser {
    background: linear-gradient(45deg, rgb(237, 22, 20) 0% 65%, rgb(34, 34, 36) 65% 85%, rgb(240, 240, 240) 85% 100%);
}

#userList>div>.username {
    font-size: 1.4em;
    font-weight: bold;
}

#userList>div>.score {
    font-style: italic;
}

#background-container {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgb(177, 177, 177);
}

#background {
    background: url(../img/page.png) repeat;
    height: 100%;
    width: 6720px;
    filter: grayscale(100%) brightness(0.6);
    animation: background 60s linear infinite;
}

@keyframes background {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1692px, 0, 0);
        /* The image width */
    }
}

@keyframes pokemon {
    0% {
        filter: brightness(0)
    }

    60% {
        filter: brightness(0.2);
    }

    100% {
        filter: brightness(1)
    }
}