html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 3em;
    background-color: rgb(0, 34, 63);
}

header * {
    color: white;
    line-height: 2em;
    margin-right: 0.5em;
}

main {
    position: relative;
    width: calc(100vw - 6em);
    height: 50vh;
    display: grid;
    margin: 3em;
    grid-template-columns: 1fr 55vw 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 0px;
}

main>section {
    position: absolute;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(167, 214, 255);
    border: 5px solid rgb(14, 143, 255);
    height: 100%;
    max-height: 60vh;
}

#leaderboard, #rooms {
    position: relative;
    grid-area: 1 / 1 / 2 / 2;
}

#pokemon {
    grid-area: 1 / 2 / 2 / 3;
}

#chat {
    grid-area: 1 / 3 / 2 / 4;
}

#rooms a:last-child{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    background-color: rgb(44, 44, 44);
    color: white;
}